[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".gdb/gdb-dashboard"]
	path = .gdb/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule ".gdb/GdbAsciiHexPrint"]
	path = .gdb/GdbAsciiHexPrint
	url = https://github.com/hq6/GdbAsciiHexPrint
